<div class="footer">  
  <ul class="footnote">
    <li class="footnote" "pull-left"><a href="https://github.com/AlexMasonAM/project02-WDI-DTLA01" class="footnote" target="_blank">GITHUB |</a></li>
    <li class="footnote" "pull-left"><a href="https://www.linkedin.com/profile/view?id=27932365" class="footnote" target="_blank">LINKED-IN |</a></li>
    <li class="footnote" "pull-left"><a href="https://twitter.com/AlexMasonAM" class="footnote" target="_blank">TWITTER |</a></li>
    <li class="footnote" "pull-right"><a href="https://alexmmason.com" class="footnote" target="_blank">created by [a.mason] |</a></li>
    <li class="footnote" "pull-right"><a href="https://generalassemb.ly/education/web-development-immersive" class="footnote" target="_blank">powered with [General Assembly DTLA-WDI-01]</a></li>
  </ul>
</div>