<div class="row">
<div class="col-md-3"></div>  
<div class="col-md-6">
  <div id="d3-input">
    <p>
      <label for="nValue" 
             style="display: inline-block; width: 240px; text-align: right">
             Angle/FlopHouse = <span id="nValue-value"></span>
      </label>
      <input type="number" min="-720" max="720" step="5" value="0" id="nValue" >
    </p>
    <p>
      <label for="nColor" 
             style="display: inline-block; width: 240px; text-align: right">
             Color/Profit Margin = <span id="nColor-value"></span>
      </label>
      <input type="number" min="-1000000" max="1000000" step="1000" value="0" id="nColor" >
    </p>
    <p>
      <label for="nRatio" 
             style="display: inline-block; width: 240px; text-align: right">
             Ratio/Profit % = <span id="nRatio-value"></span>
      </label>
      <input type="number" min="-10" max="10" step=".01" value="0" id="nRatio" >
    </p>
  </div>
</div>
<div class="col-md-3"></div>
</div>



