<div class="container">
  <h1 class="jumbtron">Saved Properties</h1>
  <button class="btn btn-primary">sort by newest</button>   <button class="btn btn-primary">sort by profit</button>
  <button class="btn btn-primary">sort by % profit</button>
  <div class="row">    
    <div class="property-card">
      <div class="text-center">
        <h3>Address of Saved Property</h3>
        <p>largest % profit of saved result by user</p>
      </div>
    </div>
    <div class="property-card">
      <div class="text-center">
        <h3>Address of Saved Property</h3>
        <p>2nd largest % profit of saved result by user</p>
      </div>
    </div>
    <div class="property-card">
      <div class="text-center">
        <h3>Address of Saved Property</h3>
        <p>...nth largest % profit of saved result by user</p>
      </div>
    </div>
  </div>
  <%= link_to "Flip a Gain!", calculate_path %>
</div>