title {
  font-family: 'Ubuntu Mono', ;
  font-family: 'Gudea', sans-serif;
  font-family: 'Ek Mukta', sans-serif;
  font-family: 'Fredoka One', cursive;
  font-family: 'Source Code Pro', ;
  font-family: 'Quattrocento Sans', sans-serif;
  font-family: 'VT323', ;
  font-family: 'Comfortaa', cursive;
  font-family: 'Nova Square', cursive;
}

.jumbotron h1 {
  font-family: 'Roboto', sans-serif;
  font-family: 'Nova Square', cursive;
  font-weight: bold;
  font-size: 100px;
}
.jumbotron span {
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  color: white;
}