@import "variables";
@import "fonts";
@import "bootstrap-sprockets";
@import "bootstrap";
// @import "foundation_and_overides";


body {
  background-color: whitesmoke;
}

.jumbo-inline {
  display: inline-block;
  float: left;
  margin-right: 25px;
}
